body {
  font-family: "Vesper Libre", serif;
  color: #1a1a1a;
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: center
}


footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}


#pitchfork-logo {
  width: 100%;
  padding-top: 8px;
}

/* Target the logo in the header using an ID
Set the width to 100px
Add 8px of padding to the top */

main {
  padding: 20px;
}


h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.news {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85rem;
  border-bottom: 2px;
  border-bottom: #ff3530;
}

figure {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: 0;
  margin-right: 0;
}


figcaption {
  font-size: .75rem;
  align-content: center;
  color: #757575;
  font-style: italic;
}

















